h1 {
  text-align: center;
}

#container {

  ul#banner {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;

    li {
      position: absolute;
      top: 0;
      left: 0;
      display: none;

      img {
        visibility: hidden;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0;
      }

    }

  }

}